
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dosis&family=Lato:wght@300&family=PT+Serif&family=Permanent+Marker&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dosis&family=Lato:wght@300&family=PT+Serif&family=Permanent+Marker&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dosis&family=Lato:wght@300&family=PT+Serif&family=Permanent+Marker&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



html {
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
    height: auto;
  }

body{
     font-family: Helvetica, Arial, sans-serif ;
     color: #333
}
h1 {
    font-family: 'Lora', sans-serif;
  }